.App {
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
  color: #333333;
}

.App-logo {
  width: 1.5em;
  margin-right: 10px;
  pointer-events: none;
}

#slogan {
  font-size: 0.8em;
  color: #aaaaaa;
  letter-spacing: 0.1em;
}

.App-header {
  text-align: center;
  padding-top: 50px;
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  color: #35a660;
  margin: 0;
}
